<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <!-- Bootstrap CSS -->
    {% include 'bootstrap_css.html' %}
    <!-- Custom CSS -->
    <style>
        body {
            background-color: #f8f9fa;
        }

        .container {
            margin-top: 50px;
        }
    </style>
</head>
<body>
    {% include 'navbar.html' %}
    {% include 'carousel.html' %}
    <div class="container mt-20">
        <h2 class="mb-4 text-center">About Us</h2>
        <p class="lead text-primary card border-primary shadow mb-3">Rodrick's Internship Hub is a platform dedicated to connecting students with internship opportunities to kickstart their careers. Our mission is to empower students by providing access to valuable hands-on experience and industry connections.</p>
        <p class="lead text-secondary card border-primary shadow mb-3">Founded in 2024, we have developed the aim to help thousands of students find internships in various fields, ranging from technology and engineering to business and finance.</p>
        <p class="lead text-info blockquote card border-primary shadow mb-3">At Rodrick's Internship Hub, we believe that internships are more than just resume boosters - they are transformative experiences that shape future leaders and innovators. Join us in our mission to bridge the gap between education and industry!</p>
    </div>

    {% include 'footer.html' %}
    {% include 'bootstrap_javaScript.html' %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
