<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <!-- Bootstrap CSS -->
    {% include 'bootstrap_css.html' %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <style>
        body {
            background-color: #f8f9fa;
        }

        .container {
            margin-top: 50px;
        }

        .table {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        th {
            background-color: #007bff;
            color: #fff;
        }

        .table th,
        .table td {
            vertical-align: middle;
        }
    </style>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <h1 class="mb-4">Internship Applications</h1>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>LinkedIn</th>
                        <th>Education</th>
                        <th>Field Experience</th>
                        <th>Resume</th>
                    </tr>
                </thead>
                <tbody>
                    {% for application in applications %}
                    <tr>
                        <td>{{ applications.full_name }}</td>
                        <td>{{ applications.email }}</td>
                        <td>{{ applications.linkedIn }}</td>
                        <td>{{ applications.education }}</td>
                        <td>{{ applications.experience }}</td>
                        <td>{{ applications.resume_url }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% include 'footer.html' %}
</body>
</html>
