<div class="align-items-center">
    <h4 class="align-items-center text-center">Apply Here!🤩</h4>
    <form action="/internships/{{internship['id']}}/apply" method="post" class="align-items-center">
        <div class="mb-2">
            <label for="full_name">Full Name</label><br>
            <input type="text" name="full_name" placeholder="Alloh Nkefor Rodrick" style="width: 50%;" class="align-items-center">
        </div>
        
        <div class="mb-2">
            <label for="email">Email</label><br>
            <input type="email" name="email" placeholder="allohnkeforrodick@gmail.com" style="width: 50%;">
        </div>
        
        <div class="mb-2">
            <label for="linkedIn">linkedIn URL</label><br>
            <input type="url" name="linkedIn" placeholder="https://linkedIn.com/in/....." style="width: 50%;">
        </div>

        <div class="mb-2">
            <label for="education">Education</label><br>
            <textarea name="education" id="" cols="30" rows="4" style="width: 50%;"></textarea>
        </div>

        <div class="mb-2">
            <label for="experience">Field Experience</label><br>
            <textarea name="experience" id="" cols="30" rows="4" style="width: 50%;"></textarea>
        </div>

        <div class="mb-2">
            <label for="resume_url">Resume</label><br>
            <input type="url" name="resume_url" placeholder="https:github.com/..." style="width: 50%;">
        </div>

        <input type="submit" style="align-items: center;">

    </form>
</div>