<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" style="background-image: url('static/back.jpg');">
            <div class="carousel-caption">
                <h3>Welcome to Rodrick's Internship Hub</h3>
                <p>Discover exciting internship opportunities and kickstart your career!</p>
            </div>
        </div>
        <div class="carousel-item" style="background-image: url('static/back-2.jpg');">
            <div class="carousel-caption">
                <h3>Connect with Industry Experts</h3>
                <p>Gain valuable insights and mentorship from professionals in your field.</p>
            </div>
        </div>
        <div class="carousel-item" style="background-image: url('static/back-3.png');">
            <div class="carousel-caption">
                <h3>Transformative Internship Experiences</h3>
                <p>Unlock your potential and make a meaningful impact through hands-on learning.</p>
            </div>
        </div>
    </div>
</div>
