<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rodrick's Internship Hub</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% include 'bootstrap_css.html' %}
    <style>
        #banner {
          height: 360px;
          width: 100%;
          object-fit:cover;
          margin-bottom: 16px;
        }
        .center{
            text-align: center;
        }
    </style>
</head>
<body>
    <div>
        {% include "navbar.html" %}
    </div>

   {% include 'carousel.html' %}

    <div class="container">
        <img class="img-fluid" src="static/download.png" alt="the test" id="banner" style="border-radius: 20px;">
    </div>

    <div class="container">
        <img src="static/back-3.png" alt="IMage here" width="43%" height="400px" style="border-radius: 50%;">
        <p style="display: inline-block; background-color: rgb(4, 17, 5); border-radius: 15px" class="card lead text-secondary border-primary shadow mb-3">At Rodrick's internship hub, you connect with the best!! <br> Browse through amazing opportunities and grab the best you can <br> Get your hands on professional level experience <br> Make an impact in your domain of expertise, or preferred specialty<br> The Best way</p>
    </div>

    <div class="container center">
        <h1 class="text-center mt-2 mb-4">{{ company_name }} Service</h1>
        <div class="container">
            <p class="lead text-secondary card border-primary shadow mb-3">This service is focused on providing students with <br>readily available internship opportunities🤩<br>get the opportunity that might <br> <strong>CHANGE YOUR LIFE!!!!</strong></p>
        </div>
    </div>

    <div class="container">
        
        {% for job in jobs %}
            {% include 'job_item.html' %}
        {% endfor %}
            
    </div>

    <div>
        {% include 'footer.html' %}
    </div>

    {% include 'bootstrap_javaScript.html' %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>